{% extends 'base.html.twig' %}

{% block title %}
    {# Titre en fonction du contexte #}
    {% if token is defined %}
        Réinitialisation du mot de passe
    {% else %}
        Mot de passe oublié
    {% endif %}
{% endblock %}

{% block body %}
    <h1>
        {# Affiche un titre différent selon que l'utilisateur demande la réinitialisation ou qu'il réinitialise son mot de passe #}
        {% if token is defined %}
            Réinitialiser votre mot de passe
        {% else %}
            Mot de passe oublié
        {% endif %}
    </h1>

    {# Si l'utilisateur a un token (cas où il est sur la page de réinitialisation du mot de passe) #}
    {% if token is defined %}
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.newPassword, { 'label': 'Nouveau mot de passe' }) }}
            <button class="btn btn-primary">Changer le mot de passe</button>
        {{ form_end(resetForm) }}
    
    {# Sinon, c'est la page de demande de réinitialisation par email #}
    {% else %}
        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email, { 'label': 'Votre adresse email' }) }}
            <button class="btn btn-primary">Envoyer un email de réinitialisation</button>
        {{ form_end(requestForm) }}
    {% endif %}
{% endblock %}
