{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>

    {% if user.teacher.profilePicFilename %}
        <div class="mb-6 flex justify-center">
            <img src="{{ asset('/uploads/teacher/' ~ user.teacher.profilePicFilename) }}" alt="{{ user.teacher.lastName }}" 
            class="rounded-full max-h-[150px]">
        </div>
    {% endif %}
    <p><strong>Email :</strong> {{ user.email }}</p>
    <p><strong>Prénom :</strong> {{ user.teacher.firstName }}</p>
    <p><strong>Nom :</strong> {{ user.teacher.lastName }}</p>
    <p><strong>Date de naissance :</strong> {{ user.teacher.dateOfBirth|date('d/m/Y') }}</p>
    <p><strong>Date d'obtention de Licence :</strong> {{ user.teacher.enrollmentDate|date('d/m/Y') }}</p>
    <p><strong>Description :</strong> {{ user.teacher.description }}</p><br>


    <a href="{{ path('teacher_edit', {'id': user.teacher.id}) }}">Modifier mon profil</a><br>
    <a href="{{ path('teacher_change_password') }}">Changer mon mot de passe</a><br>
    <a href="{{ path('teacher_delete', {'id': user.teacher.id}) }}" class="text-danger">Supprimer mon compte</a>
{% endblock %}
